<div class="header">
  <div class="logo"><h1>Disc Golf<br>Scorecard</h1></div>
  <div class="weather"></div>
</div>

<div class="enterscores">
<h4>Player Name:  <%= current_user.username %></h4>
<h4>Course Name:</h4>


  <div class="enterscores_left">
      <form>
        Hole 1:<input type="" class="hole" name="" size="5"><br>
        Hole 2:<input type="" class="hole" name="" size="5"><br>
        Hole 3:<input type="" class="hole" name="" size="5"><br>
        Hole 4:<input type="" class="hole" name="" size="5"><br>
        Hole 5:<input type="" class="hole" name="" size="5"><br>
        Hole 6:<input type="" class="hole" name="" size="5"><br>
        Hole 7:<input type="" class="hole" name="" size="5"><br>
        Hole 8:<input type="" class="hole" name="" size="5"><br>
        Hole 9:<input type="" class="hole" name="" size="5">
   </div>
   <div class="enterscores_right">
        Hole 10:<input type="" class="hole" name="" size="5"><br>
        Hole 11:<input type="" class="hole" name="" size="5"><br>
        Hole 12:<input type="" class="hole" name="" size="5"><br>
        Hole 13:<input type="" class="hole" name="" size="5"><br>
        Hole 14:<input type="" class="hole" name="" size="5"><br>
        Hole 15:<input type="" class="hole" name="" size="5"><br>
        Hole 16:<input type="" class="hole" name="" size="5"><br>
        Hole 17:<input type="" class="hole" name="" size="5"><br>
        Hole 18:<input type="" class="hole" name="" size="5">
        <input type="submit" class="scorebutton" value="Save Scores">
      </form>
  </div>

</div>
<div class="footer"></div>
