<div class="header">
  <div class="logo"><h1>Disc Golf<br>Scorecard</h1></div>
  <div class="weather"></div>
</div>

<div class="enterscores">
<h4>Course Name:</h4>
</div>

<div class="footer"></div>
