<div class="header">
<div class="logo"><h1>Disc Golf<br>Scorecard</h1>
  <%= link_to 'Back', controller:"welcome" %>
  </div>
</div>
<div class="showscores">
  <div class="table">
  <table>
  <tr>
    <th>Date</th>
    <th>Course</th>
    <th>Score</th>
    <th>Weather</th>
    </tr>
      <!-- data.each do |data| --> <!-- #start loop -->
    <tr>
      <td></td>  <!-- #columns in your database -->
      <td></td>
      <td></td>
      <td></td>
    </tr>
     <!-- end                         #end loop -->
    </table>
  </div>
</div>
<div class="footer"></div>


