<% if @users.errors.any? %>
  <div id="errors">
    <p class="error_count">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </p>
    <ul class="error-list">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    </ul>
  </div>
<% end %>
