h1 {
  color: white;
  padding: 8px 0 0 12%;
  font-size: 1em;
  font-family: helvetica, sans-serif;
}

h3 {
  font-family:helvetica;
  text-align: center;
}

.header {
  height:70px;
  background-color:black;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  opacity: .8;
}

body{
  background: url(http://www.pixentral.com/pics/1Ri9DFCjxgs3buuUicNWofYIWxjzNQ.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.creategame {
  text-align: center;
  color:white;
  background-color:black;
  width:250px;
  height:215px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
  opacity: .8;
  box-shadow: 0px 0px 15px #303030;
 /* text-align: center;
  color:white;
  background-color:black;
  width:250px;
  height:215px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
  opacity: .8;
  box-shadow: 0px 0px 15px #303030;*/
}

.enterscores {
  color:white;
  background-color:black;
  width:60%;
  height:65%;
  position:absolute;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  opacity: .8;
}

.login{
  text-align: center;
  color:white;
  background-color:black;
  width:250px;
  height:215px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
  opacity: .8;
  box-shadow: 0px 0px 15px #303030;
}

.showscores{
  color:white;
  background-color:black;
  width:75%;
  height:65%;
  position:absolute;
  top: 20%;
  right: 12%;
  bottom: 12%;
  left: 12%;
  opacity: .8;
}

.enterscores_left{
  width: 40%;
  position: absolute;
  left: 10%;
}
.enterscores_right{
  width: 40%;
  position: absolute;
  right: 10%;
}
.button {
  padding-bottom: 10px;
}

p{
  font-family: sans-serif;
  font-size: .9em;
  /*text-align: center;*/
}

.footer{
  height:30px;
  background-color: black;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  opacity: .8;
}

table {
  width:80%;
  border: 1px solid white;
  margin: 0 auto;
  margin-top:30px;
}

.hole {
  margin: 12px 0 0 12px;
  padding: 5px;
}

h4{
  text-align: center;
  margin: 10px 0 0 0;
}
