h1 {
  color: white;
  font-family: helvetica, sans-serif;
}

h3 {
  font-family:helvetica, sans-serif;
  text-align: center;
}

.tablecolumn {
  text-align: center;
}

.header {
  height:80px;
  background-color:black;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  opacity: .8;
}

body{
  background: url(http://www.pixentral.com/pics/1Ri9DFCjxgs3buuUicNWofYIWxjzNQ.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: helvetica, sans-serif;
}

.creategame {
  text-align: center;
  color:white;
  background-color:black;
  width:250px;
  height:215px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
  opacity: .8;
  box-shadow: 0px 0px 15px #303030;
}

.enterscores {
  color:white;
  background-color:black;
  width:50%;
  height:65%;
  position:absolute;
  top: 20%;
  right: 25%;
  bottom: 15%;
  left: 25%;
  opacity: .8;
  min-width:320px;
  min-height:450px;
}

.login{
  text-align: center;
  color:white;
  background-color:black;
  width:250px;
  height:215px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-100px 0 0 -150px;
  opacity: .8;
  box-shadow: 0px 0px 15px #303030;
}

.showscores{
  color:white;
  background-color:black;
  width:75%;
/*  height:65%;*/
  position:absolute;
  top: 20%;
  right: 12%;
/*  bottom: 12%;*/
  left: 12%;
  opacity: .8;
}

.enterscores_left{
  width: 40%;
  position: absolute;
  left: 15%;
  min-width:150px;
}
.enterscores_right{
  width: 35%;
  position: absolute;
  right: 5%;
  min-width:150px;
}
.button {
  padding-bottom: 10px;
}

p{
  font-size: .9em;
  /*text-align: center;*/
}

table {
  width:80%;
  border: 1px solid white;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom: 20px;
}

.hole {
  margin: 12px 0 0 12px;
  padding: 5px;
}

h4{
  font-family:helvetica, sans-serif;
  text-align: center;
  /*margin: 10px 0 0 0;*/
}

.scorebutton {
  position:absolute;
  right:38%;
  bottom: -8%;
}

.logo {
  color:white;
  font-size:.55em;
  display: inline-block;
  width:150px;
  height:70px;
  margin-left: 12%;
  padding: 7px 0 0 0%;
}

p {
  font-family: helvetica, sans-serif;
}

a:link {color:#FFFFFF;}      /* unvisited link */
a:visited {color:#d3d3d3;}  /* visited link */
a:hover {color:#2f4f4f;}  /* mouse over link */
a:active {color:#d3d3d3;} /*selected link*/
a {
  text-decoration: none;
  font-family: helvetica, sans-serif;
  font-size: .9em;
}

.loginsignup {
  padding: 0px 0 0 0;
}

.smallforms {
  margin: 10px 0 10px 0px;
}

.saveround {
  padding-top: 15px;
}

.weather {
  position: absolute;
  right: 12%;
  top: 1%;
  color:white;
  font-size: .9em;
 /* width: 200px;*/
}

.signoff {
  position: absolute;
  right: 13%;
  top: 30px;
  color:white;
}

.newgame {
  position: absolute;
  right: 24%;
  top: 30px;
  color:white;
}

.signup {
  margin-bottom: 8px;
}

.weatherlist {
  list-style: none;
}

tr:nth-child(even) {
 background-color: #3f3f3f;
 color:white;
}
tr:nth-child(odd) {
 background-color: #696969;
 color:white;
}

.footer{
  height:30px;
  background-color: black;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  opacity: .8;
  display: block;
  margin: 0 auto;
}

.signedin {
  margin-top: 25%;
}
