<!DOCTYPE html>
<html>
<head>
  <title>Discgolf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div data-role="page">
    <%= yield %>
  </div>

  <div class="footer" data-role="footer" data-position="fixed"></div>
</body>
</html>
